body {
    background-color: #fff;
}

nav.navbar {
    background-color: rgba(0, 0, 0, 75%);
    position: fixed;
    z-index: 999;
    width: -webkit-fill-available;
}

nav.navbar .collapse {
    margin-left: 50px;
}

nav.navbar .navbar-nav .nav-item {
    padding: 0px 8px;
}

nav.navbar .nav-link {
    color: white;
    font-size: small;
}

.dropdown-hover:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

nav.navbar .nav-item.dropdown .dropdown-menu {
    background-color: #e2e2e2f0;
}

nav.navbar button.navbar-toggler {
    color: white;
}
